# Movie & Book Recommendation

For movie & book recommendation we are using **Nearest neighbor item-based collaborative filtering**.
There two datasets, in one dataset contains movie names and genres and other dataset contains movie rating.

Movie dataset link: https://grouplens.org/datasets/movielens/latest/

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## (1) Movie Recommendation using Nearest Neighbors

In [2]:
movie_df=pd.read_csv("Downloads/movies.csv")
rating_df=pd.read_csv("downloads/ratings.csv")

In [3]:
movie_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [4]:
rating_df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

We are recommending the movies based on their ratings.

In [5]:
movie_df1=movie_df[["movieId","title"]]
rating_df1=rating_df[["userId","movieId","rating"]]

In [6]:
movie_df1

      movieId                                      title
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

[9742 rows x 2 columns]

In [7]:
rating_df1

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

In [8]:
combined_df=pd.merge(rating_df1,movie_df1,on="movieId")
combined_df

        userId  movieId  rating                             title
0            1        1     4.0                  Toy Story (1995)
1            5        1     4.0                  Toy Story (1995)
2            7        1     4.5                  Toy Story (1995)
3           15        1     2.5                  Toy Story (1995)
4           17        1     4.5                  Toy Story (1995)
...        ...      ...     ...                               ...
100831     610   160341     2.5                  Bloodmoon (1997)
100832     610   160527     4.5  Sympathy for the Underdog (1971)
100833     610   160836     3.0                     Hazard (2005)
100834     610   163937     3.5                Blair Witch (2016)
100835     610   163981     3.5                         31 (2016)

[100836 rows x 4 columns]

In [9]:
combined_df.isnull().sum()

userId     0
movieId    0
rating     0
title      0
dtype: int64

**Total ratings for each movies**

In [11]:
movie_rating_count=(combined_df.groupby(by=["title"])["rating"].count().reset_index().
                    rename(columns={"rating":"TotalRatingCount"}))
movie_rating_count

                                          title  TotalRatingCount
0                                    '71 (2014)                 1
1       'Hellboy': The Seeds of Creation (2004)                 1
2                        'Round Midnight (1986)                 2
3                           'Salem's Lot (2004)                 1
4                     'Til There Was You (1997)                 2
...                                         ...               ...
9714                            eXistenZ (1999)                22
9715                                 xXx (2002)                24
9716             xXx: State of the Union (2005)                 5
9717                      ¡Three Amigos! (1986)                26
9718  À nous la liberté (Freedom for Us) (1931)                 1

[9719 rows x 2 columns]

In [12]:
rating_with_TotalRatingCount=pd.merge(combined_df,movie_rating_count,on="title")
rating_with_TotalRatingCount

,userId,movieId,rating,title,TotalRatingCount
0,1,1,4.0,Toy Story (1995),215
1,5,1,4.0,Toy Story (1995),215
2,7,1,4.5,Toy Story (1995),215
3,15,1,2.5,Toy Story (1995),215
4,17,1,4.5,Toy Story (1995),215
...,...,...,...,...,...
100831,610,160341,2.5,Bloodmoon (1997),1
100832,610,160527,4.5,Sympathy for the Underdog (1971),1
100833,610,160836,3.0,Hazard (2005),1
100834,610,163937,3.5,Blair Witch (2016),1
100835,610,163981,3.5,31 (2016),1

**Sumary of total ratings**

In [14]:
movie_rating_count["TotalRatingCount"].describe()

count    9719.000000
mean       10.375141
std        22.406220
min         1.000000
25%         1.000000
50%         3.000000
75%         9.000000
max       329.000000
Name: TotalRatingCount, dtype: float64

Below we are considering only those movies whose total ratings is greater than or equal to 50.

In [15]:
rating_popular_movie=rating_with_TotalRatingCount["TotalRatingCount"]>=50
rating_popular_movie

0          True
1          True
2          True
3          True
4          True
          ...
100831    False
100832    False
100833    False
100834    False
100835    False
Name: TotalRatingCount, Length: 100836, dtype: bool

**Dataset with total rating >=50**

In [16]:
rating_popular_movie_df=rating_with_TotalRatingCount[rating_popular_movie]
rating_popular_movie_df

       userId  movieId  rating                 title  TotalRatingCount
0           1        1     4.0      Toy Story (1995)               215
1           5        1     4.0      Toy Story (1995)               215
2           7        1     4.5      Toy Story (1995)               215
3          15        1     2.5      Toy Story (1995)               215
4          17        1     4.5      Toy Story (1995)               215
...       ...      ...     ...                   ...               ...
79248     603     1997     4.0  Exorcist, The (1973)                53
79249     606     1997     3.0  Exorcist, The (1973)                53
79250     607     1997     5.0  Exorcist, The (1973)                53
79251     608     1997     4.5  Exorcist, The (1973)                53
79252     610     1997     4.0  Exorcist, The (1973)                53

[41362 rows x 5 columns]

**Pivot table for the above dataset**

**Pivot_table:** Pivot table from pandas summerzies the one or more numeric variable based on the two other categorical variables. i.e In the following dataset **userId & title** are categorical variables and the values are ratings for each movies given by each user.

In [18]:
movie_features_df=rating_popular_movie_df.pivot_table(index="title",columns="userId",values="rating")
movie_features_df

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN
12 Angry Men (1957),NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001: A Space Odyssey (1968),NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,5.0,NaN,3.0,NaN,4.5
28 Days Later (2002),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,5.0
300 (2007),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,5.0,NaN,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X2: X-Men United (2003),NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0
You've Got Mail (1998),NaN,NaN,0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,3.5,NaN,NaN,NaN,NaN
Young Frankenstein (1974),5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,5.0,NaN,NaN,3.5,NaN,NaN,NaN,NaN
Zombieland (2009),NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5
Zoolander (2001),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,4.0

In [19]:
movie_features_df1=movie_features_df.fillna(0)
movie_features_df1

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0
12 Angry Men (1957),0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2001: A Space Odyssey (1968),0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,5.0,0.0,3.0,0.0,4.5
28 Days Later (2002),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,5.0
300 (2007),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,5.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
X2: X-Men United (2003),0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0
You've Got Mail (1998),0.0,0.0,0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0
Young Frankenstein (1974),5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,3.5,0.0,0.0,0.0,0.0
Zombieland (2009),0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
Zoolander (2001),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0

In [20]:
from scipy.sparse import csr_matrix

In [21]:
movie_features_df1_matrix=csr_matrix(movie_features_df1.values)
movie_features_df1_matrix

<450x606 sparse matrix of type '<class 'numpy.float64'>'
	with 41360 stored elements in Compressed Sparse Row format>

**Applying nearest neighbor algorithm**

In [22]:
from sklearn.neighbors import NearestNeighbors

In [23]:
model_nn=NearestNeighbors(metric="cosine",algorithm="brute")
model_nn.fit(movie_features_df1_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [76]:
query_index=np.random.choice(movie_features_df1.shape[0])
query_index

134

In [79]:
movie_features_df1.iloc[query_index,:].values.reshape(1,-1)

array([[0. , 0. , 0. , 0. , 0. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 0. , 4.5, 4.5, 0. , 0. , 0. , 0. , 0. , 3. , 0. , 0. , 0. ,
        0. , 0. , 4.5, 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 2. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 4. , 0. , 0. ,
        0. , 0. , 0. , 5. , 0. , 5. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 3. , 0. , 0. , 0. ,
        0. , 0. , 0. , 3.5, 0. , 0. , 0. , 0. , 0. , 4.5, 0. , 5. , 0. ,
        0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 3.5, 0. , 4. ,
        0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 0. , 0. , 0. , 0. , 5. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 0. , 0. , 0. , 5. , 0. , 0. , 5. , 0. , 0. , 0. , 5. , 0. ,
        0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 2. , 5. , 0. , 0. ,
        0. , 0. , 0. , 0. , 0. , 4. , 0. , 0. , 0. , 0. , 5. , 0. , 0. ,
        0. , 4. , 4.5, 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        3. , 5. , 0. , 0. , 5. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 3. , 0. , 0. , 0. , 0. , 0. , 5. , 0. , 0. , 4.5, 0. , 0. ,
        0. , 0. , 0. , 4.5, 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 4. ,
        0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 4. , 0. , 0. ,
        0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 4. , 3. ,
        0. , 0. , 0. , 0. , 0. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 3.5,
        4.5, 5. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 3. , 0. , 0. , 0. ,
        0. , 0. , 0. , 4. , 0. , 0. , 0. , 0. , 4. , 0. , 5. , 5. , 0. ,
        0. , 0. , 5. , 4. , 0. , 0. , 0. , 4. , 0. , 0. , 0. , 0. , 0. ,
        5. , 3. , 4.5, 0. , 4.5, 0. , 3.5, 0. , 0. , 0. , 0. , 5. , 0. ,
        0. , 0. , 0. , 0. , 0. , 4.5, 0. , 4.5, 0. , 0. , 0. , 0. , 0. ,
        3. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 4. , 0. , 0. , 0. ,
        5. , 0. , 5. , 0. , 0. , 5. , 0. , 5. , 0. , 0. , 0. , 5. , 0. ,
        5. , 0. , 0. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 4.5,
        0. , 0. , 0. , 0. , 5. , 0. , 0. , 0. , 5. , 5. , 4.5, 0. , 0. ,
        0. , 4. , 0. , 5. , 0. , 0. , 3. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 5. ,
        0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 0. , 0. , 4.5, 0. , 0. , 5. , 0. , 0. , 0. , 5. , 0. , 0. ,
        0. , 0. , 4.5, 0. , 0. , 5. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 0. , 3.5, 0. , 4. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 4. ,
        0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 4.5,
        0. , 0. , 5. , 0. , 0. , 0. , 1. , 0. , 0. , 5. , 0. , 0. , 0. ,
        0. , 3.5, 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        0. , 0. , 0. , 0. , 3. , 0. , 0. , 0. , 0. , 5. , 0. , 0. , 0. ,
        0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
        4.5, 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 5. , 4.5, 0. , 0. ,
        0. , 0. , 0. , 4. , 0. , 4. , 0. , 4.5]])

In [80]:
distances,indices=model_nn.kneighbors(movie_features_df1.iloc[query_index,:].values.reshape(1,-1),
                                      n_neighbors=6)

In [81]:
distances

array([[0.        , 0.41956479, 0.43952674, 0.44065213, 0.4449322 ,
        0.44688147]])

In [82]:
indices

array([[134,  59, 324,  27,   2, 317]], dtype=int64)

In [95]:
indexes=np.array(movie_features_df1.index)
indexes

array(['10 Things I Hate About You (1999)', '12 Angry Men (1957)',
       '2001: A Space Odyssey (1968)', '28 Days Later (2002)',
       '300 (2007)', '40-Year-Old Virgin, The (2005)',
       'A.I. Artificial Intelligence (2001)', 'Abyss, The (1989)',
       'Ace Ventura: Pet Detective (1994)',
       'Ace Ventura: When Nature Calls (1995)',
       'Addams Family Values (1993)', 'Air Force One (1997)',
       'Airplane! (1980)', 'Aladdin (1992)', 'Alien (1979)',
       'Aliens (1986)', 'Almost Famous (2000)', 'Amadeus (1984)',
       "Amelie (Fabuleux destin d'Amélie Poulain, Le) (2001)",
       'American Beauty (1999)', 'American History X (1998)',
       'American Pie (1999)', 'American President, The (1995)',
       'American Psycho (2000)',
       'Anchorman: The Legend of Ron Burgundy (2004)',
       'Animal House (1978)', 'Annie Hall (1977)',
       'Apocalypse Now (1979)', 'Apollo 13 (1995)',
       'Arachnophobia (1990)', 'Armageddon (1998)',
       'Army of Darkness (1993)', 'As Good as It Gets (1997)',
       'Austin Powers in Goldmember (2002)',
       'Austin Powers: International Man of Mystery (1997)',
       'Austin Powers: The Spy Who Shagged Me (1999)', 'Avatar (2009)',
       'Avengers, The (2012)', 'Babe (1995)', 'Back to the Future (1985)',
       'Back to the Future Part II (1989)',
       'Back to the Future Part III (1990)', 'Bad Boys (1995)',
       'Batman (1989)', 'Batman Begins (2005)', 'Batman Forever (1995)',
       'Batman Returns (1992)', 'Beautiful Mind, A (2001)',
       'Beauty and the Beast (1991)', 'Beetlejuice (1988)',
       'Being John Malkovich (1999)', 'Best in Show (2000)',
       'Beverly Hills Cop III (1994)', 'Big (1988)', 'Big Fish (2003)',
       'Big Lebowski, The (1998)', 'Birdcage, The (1996)',
       'Black Hawk Down (2001)', 'Blade (1998)', 'Blade Runner (1982)',
       'Blair Witch Project, The (1999)', 'Blazing Saddles (1974)',
       'Blood Diamond (2006)', 'Blow (2001)',
       'Blues Brothers, The (1980)',
       'Borat: Cultural Learnings of America for Make Benefit Glorious Nation of Kazakhstan (2006)',
       'Bourne Identity, The (2002)', 'Bourne Supremacy, The (2004)',
       'Bourne Ultimatum, The (2007)', 'Bowling for Columbine (2002)',
       'Braveheart (1995)', 'Brazil (1985)', 'Breakfast Club, The (1985)',
       "Bridget Jones's Diary (2001)", 'Broken Arrow (1996)',
       'Bruce Almighty (2003)', "Bug's Life, A (1998)",
       'Butch Cassidy and the Sundance Kid (1969)',
       'Cable Guy, The (1996)', 'Caddyshack (1980)', 'Casablanca (1942)',
       'Casino (1995)', 'Casino Royale (2006)', 'Casper (1995)',
       'Cast Away (2000)', 'Catch Me If You Can (2002)',
       'Charlie and the Chocolate Factory (2005)',
       "Charlie's Angels (2000)", 'Chasing Amy (1997)',
       'Chicken Run (2000)', 'Children of Men (2006)', 'Chinatown (1974)',
       'Christmas Story, A (1983)',
       'Chronicles of Narnia: The Lion, the Witch and the Wardrobe, The (2005)',
       'Citizen Kane (1941)',
       "City Slickers II: The Legend of Curly's Gold (1994)",
       'City of God (Cidade de Deus) (2002)',
       'Clear and Present Danger (1994)', 'Clerks (1994)',
       'Client, The (1994)', 'Cliffhanger (1993)',
       'Clockwork Orange, A (1971)',
       'Close Encounters of the Third Kind (1977)', 'Clueless (1995)',
       'Con Air (1997)', 'Coneheads (1993)', 'Congo (1995)',
       'Contact (1997)', 'Cool Hand Luke (1967)', 'Crash (2004)',
       'Crimson Tide (1995)', 'Crocodile Dundee (1986)',
       'Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)',
       'Crow, The (1994)', 'Dances with Wolves (1990)',
       'Dark Knight Rises, The (2012)', 'Dark Knight, The (2008)',
       'Dave (1993)', 'Day After Tomorrow, The (2004)',
       'Dead Man Walking (1995)', 'Dead Poets Society (1989)',
       'Deadpool (2016)', 'Demolition Man (1993)', 'Departed, The (2006)',
       'Desperado (1995)', 'Die Hard (1988)', 'Die Hard 2 (1990)',
       'Die Hard: With a Vengeance (1995)', 'Disclosure (1994)',
       'District 9 (2009)', 'Django Unchained (2012)', 'Dogma (1999)',
       'Donnie Brasco (1997)', 'Donnie Darko (2001)',
       'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)',
       'Dragonheart (1996)', 'Dumb & Dumber (Dumb and Dumber) (1994)',
       'E.T. the Extra-Terrestrial (1982)', 'Ed Wood (1994)',
       'Edward Scissorhands (1990)', 'Election (1999)',
       'Enemy of the State (1998)', 'Eraser (1996)',
       'Erin Brockovich (2000)',
       'Eternal Sunshine of the Spotless Mind (2004)',
       'Exorcist, The (1973)', 'Eyes Wide Shut (1999)', 'Face/Off (1997)',
       'Fantasia (1940)', 'Fargo (1996)',
       "Ferris Bueller's Day Off (1986)", 'Few Good Men, A (1992)',
       'Field of Dreams (1989)', 'Fifth Element, The (1997)',
       'Fight Club (1999)', 'Finding Nemo (2003)', 'Firm, The (1993)',
       'First Knight (1995)', 'Fish Called Wanda, A (1988)',
       'Forrest Gump (1994)', 'Four Weddings and a Funeral (1994)',
       'From Dusk Till Dawn (1996)', 'Fugitive, The (1993)',
       'Full Metal Jacket (1987)', 'Full Monty, The (1997)',
       'Galaxy Quest (1999)', 'Game, The (1997)',
       'Gangs of New York (2002)', 'Gattaca (1997)', 'Get Shorty (1995)',
       'Ghost (1990)', 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
       'Gladiator (2000)', 'Godfather, The (1972)',
       'Godfather: Part II, The (1974)', 'GoldenEye (1995)',
       'Goldfinger (1964)', 'Gone in 60 Seconds (2000)',
       'Good Will Hunting (1997)',
       'Good, the Bad and the Ugly, The (Buono, il brutto, il cattivo, Il) (1966)',
       'Goodfellas (1990)', 'Goonies, The (1985)', 'Graduate, The (1967)',
       'Grand Budapest Hotel, The (2014)', 'Grease (1978)',
       'Green Mile, The (1999)', 'Grosse Pointe Blank (1997)',
       'Groundhog Day (1993)', 'Grumpier Old Men (1995)',
       'Guardians of the Galaxy (2014)', 'Hangover, The (2009)',
       'Happy Gilmore (1996)',
       'Harry Potter and the Chamber of Secrets (2002)',
       'Harry Potter and the Deathly Hallows: Part 2 (2011)',
       'Harry Potter and the Goblet of Fire (2005)',
       'Harry Potter and the Half-Blood Prince (2009)',
       'Harry Potter and the Order of the Phoenix (2007)',
       'Harry Potter and the Prisoner of Azkaban (2004)',
       "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)",
       'Heat (1995)', 'High Fidelity (2000)', 'Home Alone (1990)',
       'Honey, I Shrunk the Kids (1989)', 'Hook (1991)',
       'Hot Fuzz (2007)', 'Hot Shots! Part Deux (1993)',
       'How to Train Your Dragon (2010)',
       'Hunt for Red October, The (1990)', 'I Am Legend (2007)',
       'I, Robot (2004)', 'Ice Age (2002)', 'In the Line of Fire (1993)',
       'Inception (2010)', 'Incredibles, The (2004)',
       'Independence Day (a.k.a. ID4) (1996)',
       'Indiana Jones and the Last Crusade (1989)',
       'Indiana Jones and the Temple of Doom (1984)',
       'Inglourious Basterds (2009)', 'Interstellar (2014)',
       'Interview with the Vampire: The Vampire Chronicles (1994)',
       'Iron Man (2008)', "It's a Wonderful Life (1946)",
       'Italian Job, The (2003)', 'Jaws (1975)', 'Jerry Maguire (1996)',
       'Johnny Mnemonic (1995)', 'Judge Dredd (1995)', 'Jumanji (1995)',
       'Jungle Book, The (1967)', 'Juno (2007)', 'Jurassic Park (1993)',
       'Kill Bill: Vol. 1 (2003)', 'Kill Bill: Vol. 2 (2004)',
       "King's Speech, The (2010)", 'Knocked Up (2007)',
       'Kung Fu Panda (2008)', 'L.A. Confidential (1997)',
       'Lady and the Tramp (1955)', 'Last Action Hero (1993)',
       'Last Samurai, The (2003)', 'Leaving Las Vegas (1995)',
       'Legally Blonde (2001)', 'Legends of the Fall (1994)',
       'Lethal Weapon (1987)', 'Liar Liar (1997)',
       'Life Is Beautiful (La Vita è bella) (1997)',
       'Lion King, The (1994)', 'Little Mermaid, The (1989)',
       'Little Miss Sunshine (2006)',
       'Lock, Stock & Two Smoking Barrels (1998)',
       'Lord of the Rings: The Fellowship of the Ring, The (2001)',
       'Lord of the Rings: The Return of the King, The (2003)',
       'Lord of the Rings: The Two Towers, The (2002)',
       'Lost World: Jurassic Park, The (1997)',
       'Lost in Translation (2003)', 'Love Actually (2003)',
       'Léon: The Professional (a.k.a. The Professional) (Léon) (1994)',
       'Magnolia (1999)', 'Mars Attacks! (1996)', 'Mary Poppins (1964)',
       'Mask of Zorro, The (1998)', 'Mask, The (1994)',
       'Matrix Reloaded, The (2003)', 'Matrix Revolutions, The (2003)',
       'Matrix, The (1999)', 'Maverick (1994)', 'Meet the Parents (2000)',
       'Memento (2000)', 'Men in Black (a.k.a. MIB) (1997)',
       'Men in Black II (a.k.a. MIIB) (a.k.a. MIB 2) (2002)',
       'Million Dollar Baby (2004)', 'Minority Report (2002)',
       'Miss Congeniality (2000)', 'Mission: Impossible (1996)',
       'Mission: Impossible II (2000)', 'Monsters, Inc. (2001)',
       'Monty Python and the Holy Grail (1975)',
       "Monty Python's Life of Brian (1979)", 'Moulin Rouge (2001)',
       'Mr. & Mrs. Smith (2005)', "Mr. Holland's Opus (1995)",
       'Mrs. Doubtfire (1993)', 'Mulholland Drive (2001)',
       'Mummy, The (1999)', 'My Big Fat Greek Wedding (2002)',
       'My Cousin Vinny (1992)', 'Mystic River (2003)',
       'Naked Gun 33 1/3: The Final Insult (1994)',
       'Natural Born Killers (1994)', 'Net, The (1995)',
       'Nightmare Before Christmas, The (1993)',
       'No Country for Old Men (2007)', 'North by Northwest (1959)',
       'Notting Hill (1999)', 'Nutty Professor, The (1996)',
       'O Brother, Where Art Thou? (2000)', "Ocean's Eleven (2001)",
       'Office Space (1999)', "One Flew Over the Cuckoo's Nest (1975)",
       'Others, The (2001)', 'Outbreak (1995)',
       "Pan's Labyrinth (Laberinto del fauno, El) (2006)",
       'Patriot, The (2000)', 'Philadelphia (1993)', 'Piano, The (1993)',
       'Pinocchio (1940)',
       "Pirates of the Caribbean: At World's End (2007)",
       "Pirates of the Caribbean: Dead Man's Chest (2006)",
       'Pirates of the Caribbean: The Curse of the Black Pearl (2003)',
       'Planet of the Apes (1968)', 'Platoon (1986)',
       'Pleasantville (1998)', 'Pocahontas (1995)', 'Predator (1987)',
       'Prestige, The (2006)', 'Pretty Woman (1990)',
       'Princess Bride, The (1987)', 'Psycho (1960)',
       'Pulp Fiction (1994)', 'Quiz Show (1994)',
       'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
       'Rain Man (1988)', 'Raising Arizona (1987)', 'Ratatouille (2007)',
       'Rear Window (1954)', 'Requiem for a Dream (2000)',
       'Reservoir Dogs (1992)', 'Robin Hood: Men in Tights (1993)',
       'RoboCop (1987)', 'Rock, The (1996)', 'Rocky (1976)',
       'Rocky Horror Picture Show, The (1975)',
       'Romancing the Stone (1984)', 'Royal Tenenbaums, The (2001)',
       'Run Lola Run (Lola rennt) (1998)', 'Rushmore (1998)',
       'Sabrina (1995)', 'Santa Clause, The (1994)',
       'Saving Private Ryan (1998)', 'Scarface (1983)',
       'Scary Movie (2000)', "Schindler's List (1993)",
       'School of Rock (2003)', 'Scream (1996)',
       'Sense and Sensibility (1995)', 'Serenity (2005)',
       'Seven (a.k.a. Se7en) (1995)', 'Shakespeare in Love (1998)',
       'Shaun of the Dead (2004)', 'Shawshank Redemption, The (1994)',
       'Sherlock Holmes (2009)', 'Shining, The (1980)', 'Shrek (2001)',
       'Shrek 2 (2004)', 'Shutter Island (2010)', 'Signs (2002)',
       'Silence of the Lambs, The (1991)', 'Sin City (2005)',
       'Sixth Sense, The (1999)', 'Skyfall (2012)',
       'Sleepless in Seattle (1993)', 'Sleepy Hollow (1999)',
       'Slumdog Millionaire (2008)', 'Snatch (2000)',
       'Snow White and the Seven Dwarfs (1937)',
       'Social Network, The (2010)', 'Some Like It Hot (1959)',
       'Sound of Music, The (1965)',
       'South Park: Bigger, Longer and Uncut (1999)', 'Space Jam (1996)',
       'Spaceballs (1987)', 'Speed (1994)', 'Spider-Man (2002)',
       'Spider-Man 2 (2004)',
       'Spirited Away (Sen to Chihiro no kamikakushi) (2001)',
       'Splash (1984)', 'Stand by Me (1986)', 'Star Trek (2009)',
       'Star Trek II: The Wrath of Khan (1982)',
       'Star Trek: First Contact (1996)', 'Star Trek: Generations (1994)',
       'Star Wars: Episode I - The Phantom Menace (1999)',
       'Star Wars: Episode II - Attack of the Clones (2002)',
       'Star Wars: Episode III - Revenge of the Sith (2005)',
       'Star Wars: Episode IV - A New Hope (1977)',
       'Star Wars: Episode V - The Empire Strikes Back (1980)',
       'Star Wars: Episode VI - Return of the Jedi (1983)',
       'Stargate (1994)', 'Starship Troopers (1997)', 'Sting, The (1973)',
       'Super Size Me (2004)', 'Superbad (2007)', 'Superman (1978)',
       'Taxi Driver (1976)', 'Terminator 2: Judgment Day (1991)',
       'Terminator, The (1984)', "The Devil's Advocate (1997)",
       'The Hunger Games (2012)', 'The Imitation Game (2014)',
       "There's Something About Mary (1998)", 'This Is Spinal Tap (1984)',
       'Three Musketeers, The (1993)', 'Titanic (1997)',
       'To Kill a Mockingbird (1962)', 'Tombstone (1993)',
       'Tommy Boy (1995)', 'Top Gun (1986)', 'Total Recall (1990)',
       'Toy Story (1995)', 'Toy Story 2 (1999)', 'Toy Story 3 (2010)',
       'Traffic (2000)', 'Training Day (2001)', 'Trainspotting (1996)',
       'Tron (1982)', 'True Lies (1994)', 'True Romance (1993)',
       'Truman Show, The (1998)', 'Truth About Cats & Dogs, The (1996)',
       'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)', 'Twister (1996)',
       'Unbreakable (2000)', 'Untouchables, The (1987)', 'Up (2009)',
       'Usual Suspects, The (1995)', 'V for Vendetta (2006)',
       'Vertigo (1958)', 'WALL·E (2008)',
       'Wallace & Gromit: The Wrong Trousers (1993)',
       'War of the Worlds (2005)', 'Waterworld (1995)',
       "Wayne's World (1992)", 'Wedding Crashers (2005)',
       'Wedding Singer, The (1998)', 'What Women Want (2000)',
       "What's Eating Gilbert Grape (1993)",
       'When Harry Met Sally... (1989)', 'While You Were Sleeping (1995)',
       'Who Framed Roger Rabbit? (1988)', 'Wild Wild West (1999)',
       'Willy Wonka & the Chocolate Factory (1971)',
       'Wizard of Oz, The (1939)', 'Wolf of Wall Street, The (2013)',
       'X-Men (2000)', 'X-Men: The Last Stand (2006)',
       'X2: X-Men United (2003)', "You've Got Mail (1998)",
       'Young Frankenstein (1974)', 'Zombieland (2009)',
       'Zoolander (2001)'], dtype=object)

In [96]:
indexes[indices]

array([['Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)',
        'Blade Runner (1982)', 'Rear Window (1954)',
        'Apocalypse Now (1979)', '2001: A Space Odyssey (1968)',
        'Psycho (1960)']], dtype=object)

In [89]:
(2, movie_features_df1.index[indices.flatten()[2]],distances.flatten()[2])

(2, 'Rear Window (1954)', 0.4395267433111216)

In [83]:
length=len(distances.flatten())
length

6

**movie Recommendation**

In [97]:
for i in range(0,length):
    if i==0:
        print('Recommendations for {0}:\n'.format(movie_features_df1.index[query_index]))
    else:
         print('{0}: {1}, with distance of {2}'.format(i, movie_features_df1.index[indices.flatten()[i]],
                                                       distances.flatten()[i]))

Recommendations for Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964):

1: Blade Runner (1982), with distance of 0.4195647886111097
2: Rear Window (1954), with distance of 0.4395267433111216
3: Apocalypse Now (1979), with distance of 0.44065213080049015
4: 2001: A Space Odyssey (1968), with distance of 0.44493220439849623
5: Psycho (1960), with distance of 0.44688147291981495

## (2) Book Recommendation using Nearest Neighbors

Book dataset link: https://www2.informatik.uni-freiburg.de/~cziegler/BX/

In [4]:
ratings_df=pd.read_csv("Downloads/BX-CSV-Dump/BX-Book-Ratings.csv",sep=";",encoding="latin-1")

In [6]:
ratings_df

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [7]:
books_df=pd.read_csv("Downloads/BX-CSV-Dump/BX-Books.csv",sep=";",encoding="latin-1",
                     on_bad_lines="skip")

C:\Users\Sanjay\AppData\Local\Temp/ipykernel_12592/2991820012.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books_df=pd.read_csv("Downloads/BX-CSV-Dump/BX-Books.csv",sep=";",encoding="latin-1",

In [8]:
books_df

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [9]:
users_df=pd.read_csv("Downloads/BX-CSV-Dump/BX-Users.csv",sep=";",encoding="latin-1")

In [10]:
users_df

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [11]:
combined_book_ratings=pd.merge(ratings_df,books_df,on="ISBN")
combined_book_ratings

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031131,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
1031132,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...

In [12]:
columns = ["Book-Author","Year-Of-Publication","Publisher","Image-URL-S","Image-URL-M","Image-URL-L"]
combined_book_ratings_df=combined_book_ratings.drop(columns=columns,axis=1)
combined_book_ratings_df

,User-ID,ISBN,Book-Rating,Book-Title
0,276725,034545104X,0,Flesh Tones: A Novel
1,2313,034545104X,5,Flesh Tones: A Novel
2,6543,034545104X,0,Flesh Tones: A Novel
3,8680,034545104X,5,Flesh Tones: A Novel
4,10314,034545104X,9,Flesh Tones: A Novel
...,...,...,...,...
1031131,276688,0517145553,0,Mostly Harmless
1031132,276688,1575660792,7,Gray Matter
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries)
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...

In [13]:
combined_book_ratings_df.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
Book-Title     0
dtype: int64

In [14]:
combined_book_ratings_df.dropna(axis=0,subset="Book-Title")

,User-ID,ISBN,Book-Rating,Book-Title
0,276725,034545104X,0,Flesh Tones: A Novel
1,2313,034545104X,5,Flesh Tones: A Novel
2,6543,034545104X,0,Flesh Tones: A Novel
3,8680,034545104X,5,Flesh Tones: A Novel
4,10314,034545104X,9,Flesh Tones: A Novel
...,...,...,...,...
1031131,276688,0517145553,0,Mostly Harmless
1031132,276688,1575660792,7,Gray Matter
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries)
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...

In [15]:
combined_book_ratings_df["Book-Rating"].value_counts()

0     647294
8      91804
10     71225
7      66402
9      60778
5      45355
6      31687
4       7617
3       5118
2       2375
1       1481
Name: Book-Rating, dtype: int64

In [16]:
book_rating_count_df=(combined_book_ratings_df.groupby("Book-Title")["Book-Rating"].count().
                      reset_index().rename(columns={"Book-Rating":"TotalRatingCount"}))
book_rating_count_df

                                               Book-Title  TotalRatingCount
0        A Light in the Storm: The Civil War Diary of ...                 4
1                                   Always Have Popsicles                 1
2                    Apple Magic (The Collector's series)                 1
3        Ask Lily (Young Women of Faith: Lily Series, ...                 1
4        Beyond IBM: Leadership Marketing and Finance ...                 1
...                                                   ...               ...
241066                                      Ã?Â?lpiraten.                 2
241067                     Ã?Â?rger mit Produkt X. Roman.                 4
241068                                Ã?Â?sterlich leben.                 1
241069                              Ã?Â?stlich der Berge.                 3
241070                                  Ã?Â?thique en toc                 2

[241071 rows x 2 columns]

In [17]:
combined_nd_book_ratingcount_df=pd.merge(combined_book_ratings_df,book_rating_count_df,
                                         on="Book-Title")
combined_nd_book_ratingcount_df

,User-ID,ISBN,Book-Rating,Book-Title,TotalRatingCount
0,276725,034545104X,0,Flesh Tones: A Novel,60
1,2313,034545104X,5,Flesh Tones: A Novel,60
2,6543,034545104X,0,Flesh Tones: A Novel,60
3,8680,034545104X,5,Flesh Tones: A Novel,60
4,10314,034545104X,9,Flesh Tones: A Novel,60
...,...,...,...,...,...
1031131,276688,0425150526,0,Death Crosses the Border,1
1031132,276688,0449907422,0,Jazz Funeral: A Skip Langdon Novel,1
1031133,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,1
1031134,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),1
1031135,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,1

In [18]:
pd.set_option("display.float_format", lambda x:"%.4f" %x)
combined_nd_book_ratingcount_df["TotalRatingCount"].describe()

count   1031136.0000
mean         69.7816
std         175.3381
min           1.0000
25%           3.0000
50%          13.0000
75%          61.0000
max        2502.0000
Name: TotalRatingCount, dtype: float64

In [38]:
book_rating_count_df["TotalRatingCount"].describe()

count   241071.0000
mean         4.2773
std         16.7387
min          1.0000
25%          1.0000
50%          1.0000
75%          3.0000
max       2502.0000
Name: TotalRatingCount, dtype: float64

In [16]:
book_rating_count_df["TotalRatingCount"].quantile(np.arange(0.9,1,0.01))

0.9000    7.0000
0.9100    8.0000
0.9200    9.0000
0.9300   10.0000
0.9400   11.0000
0.9500   13.0000
0.9600   16.0000
0.9700   20.0000
0.9800   29.0000
0.9900   50.0000
Name: TotalRatingCount, dtype: float64

In [19]:
ratings_ofPopular_book=combined_nd_book_ratingcount_df[
    combined_nd_book_ratingcount_df["TotalRatingCount"]>=50]
ratings_ofPopular_book

,User-ID,ISBN,Book-Rating,Book-Title,TotalRatingCount
0,276725,034545104X,0,Flesh Tones: A Novel,60
1,2313,034545104X,5,Flesh Tones: A Novel,60
2,6543,034545104X,0,Flesh Tones: A Novel,60
3,8680,034545104X,5,Flesh Tones: A Novel,60
4,10314,034545104X,9,Flesh Tones: A Novel,60
...,...,...,...,...,...
730560,227447,0061092096,0,Love in Another Town,68
730561,231210,0061092096,0,Love in Another Town,68
730562,238781,0061092096,5,Love in Another Town,68
730563,244349,0061092096,0,Love in Another Town,68
730564,258352,0061092096,0,Love in Another Town,68

In [20]:
combined_df=pd.merge(ratings_ofPopular_book,users_df,on="User-ID")
combined_df.drop("Age",axis=1,inplace=True)
combined_df

,User-ID,ISBN,Book-Rating,Book-Title,TotalRatingCount,Location
0,276725,034545104X,0,Flesh Tones: A Novel,60,"tyler, texas, usa"
1,2313,034545104X,5,Flesh Tones: A Novel,60,"cincinnati, ohio, usa"
2,2313,0812533550,9,Ender's Game (Ender Wiggins Saga (Paperback)),249,"cincinnati, ohio, usa"
3,2313,0679745580,8,In Cold Blood (Vintage International),55,"cincinnati, ohio, usa"
4,2313,0399146431,5,The Bonesetter's Daughter,384,"cincinnati, ohio, usa"
...,...,...,...,...,...,...
288735,108962,0060176806,8,Love in Another Town,68,"el cajon, california, usa"
288736,116812,0060176806,8,Love in Another Town,68,"fredericton, new brunswick, canada"
288737,121442,0060176806,5,Love in Another Town,68,"north little rock, arkansas, usa"
288738,159856,0060176806,3,Love in Another Town,68,"new maryland, new brunswick, canada"
288739,97087,0061092096,4,Love in Another Town,68,"charleston, south carolina, usa"

In [21]:
book_features_df=combined_df.pivot_table(index="Book-Title",columns="User-ID",
                                         values="Book-Rating").fillna(0)
book_features_df

User-ID,8,9,14,16,17,19,23,26,32,39,...,278820,278824,278828,278832,278836,278843,278844,278846,278851,278854
Book-Title,,,,,,,,,,,,,,,,,,,,,
10 Lb. Penalty,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
16 Lighthouse Road,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1984,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1st to Die: A Novel,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2010: Odyssey Two,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
Zoya,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
"\O\"" Is for Outlaw""",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
"\Surely You're Joking, Mr. Feynman!\"": Adventures of a Curious Character""",0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
stardust,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [22]:
from scipy.sparse import csr_matrix

In [23]:
book_features_df_matrix=csr_matrix(book_features_df.values)
book_features_df_matrix

<2444x47994 sparse matrix of type '<class 'numpy.float64'>'
	with 113910 stored elements in Compressed Sparse Row format>

In [25]:
from sklearn.neighbors import NearestNeighbors

In [26]:
model_nn1=NearestNeighbors(metric="cosine",algorithm="brute")
model_nn1.fit(book_features_df_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [32]:
query_index1=np.random.choice(book_features_df.shape[0])
query_index1

222

In [33]:
book_features_df.index[query_index1]

'Bearing an Hourglass (Incarnations of Immortality (Paperback))'

In [34]:
book_features_df.iloc[query_index1,:].values.reshape(1,-1)

array([[0., 0., 0., ..., 0., 0., 0.]])

In [35]:
distances,indices=model_nn1.kneighbors(book_features_df.iloc[query_index1,:].values.reshape(1,-1),
                                       n_neighbors=6)

In [36]:
distances

array([[0.        , 0.70253614, 0.77716728, 0.83692632, 0.83891945,
        0.83928811]])

In [37]:
indices

array([[ 222, 1234,  709, 1861,  560,  584]], dtype=int64)

In [38]:
recommended_books=book_features_df.index[np.array(indices)]
recommended_books

C:\Users\Sanjay\AppData\Local\Temp/ipykernel_12592/2026607695.py:1: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  recommended_books=book_features_df.index[np.array(indices)]

array([['Bearing an Hourglass (Incarnations of Immortality (Paperback))',
        'On a Pale Horse (Incarnations of Immortality, Bk. 1)', 'Friday',
        'The Fires of Heaven (The Wheel of Time, Book 5)',
        'Dune Messiah (Dune Chronicles, Book 2)',
        "Enchanters' End Game (The Belgariad, Book 5)"]], dtype=object)

In [39]:
recommended_books[0,1:6]

array(['On a Pale Horse (Incarnations of Immortality, Bk. 1)', 'Friday',
       'The Fires of Heaven (The Wheel of Time, Book 5)',
       'Dune Messiah (Dune Chronicles, Book 2)',
       "Enchanters' End Game (The Belgariad, Book 5)"], dtype=object)

In [40]:
len(recommended_books.flatten())

6

**Book Recommendation**

In [41]:
for i in range(len(recommended_books.flatten())):
    if i==0:
        print("Recommendation for {0}:\n".format(book_features_df.index[query_index1]))
    else:
        print('{0}: {1}:'.format(i,book_features_df.index[indices.flatten()[i]]))

Recommendation for Bearing an Hourglass (Incarnations of Immortality (Paperback)):

1: On a Pale Horse (Incarnations of Immortality, Bk. 1):
2: Friday:
3: The Fires of Heaven (The Wheel of Time, Book 5):
4: Dune Messiah (Dune Chronicles, Book 2):
5: Enchanters' End Game (The Belgariad, Book 5):